<section id="help" ng-show="help">
	<h2>Don't worry we're here to Help!</h2>
	<li>1. To add medication: Click the plus sign and then fill out the form accordingly.</li>
	<li>2. To delete a medication: Click the minus sign at the bottom of your list and you will see the options to delete each medicaiton pop up next to their respective medications. Click this minus sign and your medication will be archived. Don't worry! We know your medication history is important to you. This medication will only be archived for your future access.</li>
</section>