<div id="signupbox" app-controller="AuthController as authCtrl">

  <div class="panel-heading">
      <div class="panel-title">Sign Up</div>
      <div><a id="signinlink" ng-href="#/signin">Log In</a></div>
  </div>

  <div class="panel-body">
      <form id="signupform" class="form-horizontal" role="form">

        <div id="signupalert" ng-show="alert" class="alert alert-info">
          <span>{{alert}}</span>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <input type="text" class="form-control" ng-model="user.email" placeholder="Email Address">
        </div>

        <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">First Name</label>
            <input type="text" class="form-control" ng-model="user.firstname" placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Last Name</label>
            <input type="text" class="form-control" ng-model="user.lastname" placeholder="Last Name">
        </div>

        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
        </div>


        <div class="form-group">
          <button id="btn-signup" type="button" class="btn btn-info" ng-click="signup(user)"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
          <span style="margin-left:8px;">or</span>
        </div>

        <div class="form-group">
          <button id="btn-fbsignup" type="button" class="btn btn-primary" ng-click="loginfb()"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
        </div>

      </form>
  </div>

</div>
